h1 {
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
}

.add-button {
    float: right;
    margin: 10px;
}

.select-button {
    float: right;
    margin: 10px;
}
.anchor {
    font-size: 50px;
}